<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head(title = #{order})">
</head>
<body>
<div class="container">
    <header th:replace="navbar :: navbar">

    </header>
    <form th:action="@{/selectUser}" method="post">
        <fieldset>
            <div class="form-group">

                <select class="form-control" id="selectUser" name="selectUser">
                    <option selected th:text="#{select_user}"></option>
                    <th:block th:each="user : ${users}">
                        <option th:value="${user.getUsername()}"
                                th:text="${user.getUsername()}"></option>
                    </th:block>
                </select>

            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-danger btn-block" name="deleteUser"
                           th:value="#{delete_user}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" name="modifyUser"
                           th:value="#{modify_user}"/>
                </div>
            </div>
        </fieldset>
    </form>

    <table class="table">
        <div class="text-center">
            <h4 class="card-title mt-3 text-center" th:text="#{users}">Users</h4>
        </div>
        <tr>
            <th scope="col">Id</th>
            <th scope="col" th:text="#{username}">User</th>
            <th scope="col">E-mail</th>
        </tr>
        <tr th:each="user: ${users}">
            <th scope="row" th:text="${user.getId()}"></th>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getEmail()}"></td>
        </tr>
    </table>

    <table class="table">
        <div class="text-center">
            <h4 class="card-title mt-3 text-center" th:text="#{orders}">Orders</h4>
        </div>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{username}">User</th>
            <th scope="col" th:text="#{car_model}">Car Model</th>
            <th scope="col" th:text="#{start_date}">Rent Start date</th>
            <th scope="col" th:text="#{end_date}">Rent End date</th>
        </tr>
        <tr th:each="order,iter : ${orders}">
            <th scope="row" th:text="${iter.index}"></th>
            <td th:text="${order.getUser().getUsername()}"></td>
            <td th:text="${order.getCar().getModel()}"></td>
            <td th:text="${order.getRentStartDate()}"></td>
            <td th:text="${order.getRentEndDate()}"></td>
            <td>
                <form th:action="@{/deleteOrder}" method="post">
                    <input type="hidden" name="deleteOrder" th:value="${order.getId()}"/>
                    <input type="submit" class="btn btn-lg btn-danger btn-block" th:value="#{delete}"/>
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>