<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head (title)">
    <title th:text="${title}">Title</title>
    <meta charset="UTF-8">
    <title>Starter Template for Bootstrap</title>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.1/umd/popper.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/lightbox2/2.10.0/dist/js/lightbox.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/lightbox2/2.10.0/dist/css/lightbox.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>

</body>
</html>
