<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="head :: head(title = 'Index')">
</head>
<body>
<div class="container">
    <header th:replace="navbar :: navbar">

    </header>

    <main role="main">

        <div sec:authorize="!isAuthenticated()" class="jumbotron">
            <h1 class="display-3"><span th:text="#{greeting}"></span></h1>
            <p class="lead"><span th:text="#{main_description}"></span></p>
            <p>
                <a class="btn btn-lg btn-success" href="/register" role="button"><span th:text="#{register_now}"></span></a>
            </p>
        </div>

        <div class="row marketing">
            <th:block th:each="car : ${cars}">

                <div class="col-lg-6">
                    <img th:src="@{${'/images/' + car.model + '/1.jpg'}}" class="img-fluid"/>
                    <h4>
                        <td th:text="${car.getModel()}">
                        </td>
                    </h4>
                    <p>
                        <span th:text="#{engine}"></span>
                    <td th:text="${car.getEngine()}"></td>
                    <br>
                    <span th:text="#{price}"></span>
                    <td th:text="${car.getPrice()}"></td>
                    <span th:text="#{per_day}"></span>
                    </p>
                    <div class="button">

                        <a class="btn btn-lg btn-primary btn-block" th:href="@{'/order/' + ${car.id}}"
                           th:text="#{order}">Zamów order</a>

                    </div>
                    <br><br>
                </div>

            </th:block>
        </div>
    </main>

    <footer class="footer">
        <p>&copy; Company 2017</p>
    </footer>

</div>

<!--old language selector
                <li class="nav-item">
                    <select  id="locales">
                        <option th:text="#{lang.change}"></option>
                        <option value="pl" th:text="#{lang.pl}"></option>
                        <option value="en" th:text="#{lang.en}"></option>
                    </select>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#locales').change(function () {
                                var selectedOption = $('#locales').val();
                                if (selectedOption != '') {
                                    window.location.replace('?lang=' + selectedOption);
                                }
                            });
                        });
                    </script></li>
-->

</body>
</html>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>