<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.14.1/umd/popper.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>
<div class="container">
    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/index"><span th:text="#{home}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span th:text="#{about}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span th:text="#{contact}"></span></a>
                </li>

                <div class="dropdown open">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <span th:text="#{lang.change}"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <form method="get">
                            <button name="lang" type="submit" class="dropdown-item" value="pl"><span
                                    th:text="#{lang.pl}"></span></button>
                            <button name="lang" type="submit" class="dropdown-item" value="en"><span
                                    th:text="#{lang.en}"></span></button>
                        </form>
                    </div>
                </div>

                <li class="nav-item"><a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}"
                                        th:text="#{login}">Login</a></li>
                <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}"
                                        th:text="#{logout}">Logout</a></li>
            </ul>
        </nav>
        <div sec:authorize="isAuthenticated()">

            <span th:text="#{greeting}"></span> <span sec:authentication="name">anonymous</span>!<br/>
            <span th:text="#{your_roles}"></span>: <span sec:authentication="principal.authorities">NULL</span>

        </div>
    </header>

    <main role="main">

        <div sec:authorize="!isAuthenticated()" class="jumbotron">
            <h1 class="display-3">Header</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p>
                <a class="btn btn-lg btn-success" href="/register" role="button">Register now</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                    fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
                <h4>Subheading</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Subheading</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet
                    fermentum.</p>

                <h4>Subheading</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>

    </main>

    <footer class="footer">
        <p>&copy; Company 2017</p>
    </footer>

</div>

<!--old language selector
                <li class="nav-item">
                    <select  id="locales">
                        <option th:text="#{lang.change}"></option>
                        <option value="pl" th:text="#{lang.pl}"></option>
                        <option value="en" th:text="#{lang.en}"></option>
                    </select>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#locales').change(function () {
                                var selectedOption = $('#locales').val();
                                if (selectedOption != '') {
                                    window.location.replace('?lang=' + selectedOption);
                                }
                            });
                        });
                    </script></li>
-->

</body>
</html>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>