<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head(title = #{order})">
</head>
<body>
<div class="container">
    <header th:replace="navbar :: navbar">

    </header>

    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Invalid credentials!
        </div>
    </div>
    <form th:action="@{/login}" method="post" class="form-signin">
        <fieldset>

            <input type="text" name="username" id="username" class="form-control" placeholder="Username"
                       required="required" autofocus="autofocus"/>

            <input type="password" name="password" id="password" class="form-control"
                   placeholder="Password" required="required"/>

            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login"/>
            <p class="text-center">Don't have an account? <a href="/register">Register</a></p>
        </fieldset>
    </form>
</div>
</body>
</html>