<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="head.html"/>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
<div class="container">
    <header th:replace="navbar :: navbar">

    </header>

    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center" th:text="#{create_account}">Create Account</h4>

        <div th:if="${param.usererror}" class="alert alert-danger">
            <span th:text="#{username_already_exists}">Username already exists!</span>
        </div>
        <div th:if="${param.passerror}" class="alert alert-danger">
            <span th:text="#{passwords_are_different}">Passwords are different!</span>
        </div>
        <div th:if="${param.captchaerror}" class="alert alert-danger">
            <span th:text="#{fill_captcha}">Please, fill captcha!</span>
        </div>
        <form method="post" th:action="@{/registerUser}">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="username" class="form-control" th:placeholder="#{create_username}" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="email" class="form-control" th:placeholder="#{email_address}" type="email">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" th:placeholder="#{password}" type="password">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="repeatpassword" class="form-control" th:placeholder="#{repeat_password}" type="password">
            </div> <!-- form-group// -->
            <div class="g-recaptcha"
                 data-sitekey="6Ldw4WQUAAAAAGgidOQeZeLfI4tOXfE1-jR9pRsl">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" th:text="#{create_account}">Create Account
                </button>
            </div> <!-- form-group// -->
            <p class="text-center"><span th:text="#{have_an_account}">Have an account?</span><a href="/login"><span
                    th:text="#{login}"></span></a></p>
        </form>
    </article>
</div> <!-- card.// -->

</body>
</html>